<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
<title>Board One View</title>
<style type="text/css">
.board-read-container {
    margin-bottom: 20px;
    background-color: #bbb;
    border: 1px solid;
    width: 700px;
}
.board-read-header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.board-read-body {
    position: relative;
    border-right: 1px solid #ddd;
    height: 300px;
}

</style>

</head>
<body>
<div class="board-read-container">
	<div th:if="${not #strings.isEmpty(message)}">
	    [[${message}]]	
	</div>
    <div class="board-read-header">
    <h2>Board [ [[${board.no}]] ] View</h2>
    <hr/>
    Title : [[${board.title}]] / Writer's-id : [[${board.memberNo}]]
    <hr/>
    Created DateTime : [[${board.createdTime}]] | Last Updated DateTime : [[${board.updatedTime}]]
    </div>
    <hr/>
    <div class="board-read-body">
        <div th:text="${board.contents}"></div>
    </div>
</div>
<div>
<button type="button" onclick="location.href='/board/list'">Back to List</button>
<button type="button" th:onclick="'location.href=\'' + @{/board/update/{no}(no=${board.no})} +'\';'">Update</button>
<button type="button" th:onclick="'location.href=\'' + @{/board/delete/{no}(no=${board.no})} +'\';'">Delete</button>
</div>
</body>
</html>