<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
<title>Board One View</title>
<style type="text/css">
.board-read-container {
    margin-bottom: 20px;
    background-color: #bbb;
    border: 1px solid;
    width: 700px;
}
.board-read-header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.board-read-body {
    position: relative;
    border-right: 1px solid #ddd;
    height: 300px;
}
.reply-container {
    margin-top: 20px;
    background-color: white;
    border: 1px solid;
    width: 700px;
}
#reply-header {
    margin: 10px 10px 10px 10px;
    margin-bottom: 20px;
    background-color: white;
    width: 650px;
}
#reply-body {
    margin-bottom: 20px;
    background-color: white;
    width: 650px;
}
#reply-footer {
    margin-bottom: 20px;
    background-color: white;
    width: 650px;
}

.reply-footer-form-elements {
    display: flex;
}

.reply-footer-form-contents {
    margin: 10px 10px 10px 10px;
    border-right: 1px solid #ddd;
    width: 650px;
    height: 100px;
}

textarea {
    width: 90%;
    height: 6.25em;
    border: 1px solid;
    resize: none;
}

.likeImg-board {
    width: 2em;
    height: 2em;
}

.likeImg-reply {
    width: 1em;
    height: 1em;
}
</style>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

</head>
<body>
<div class="board-read-container">
	<div th:if="${not #strings.isEmpty(message)}">
	    [[${message}]]	
	</div>
    <div class="board-read-header">
    <h2>Board [ [[${board.boardNo}]] ] View</h2>
    <div class="like-box-board">
        <label id="likeCount">0</label> <a><img class="likeImg-board" th:src="@{/images/like.png}" th:value="like"></a> &nbsp;&nbsp;
        <label id="dislikeCount">0</label> <a><img class="likeImg-board" th:src="@{/images/dislike.png}" th:value="dislike"></a>
    </div>
    <hr/>
    Title : [[${board.title}]] / Writer's-id : [[${board.memberId}]]
    <hr/>
    Created DateTime : [[${board.createdTime}]] | Last Updated DateTime : [[${board.updatedTime}]]
    </div>
    <hr/>
    <div class="board-read-body">
        <div th:text="${board.contents}"></div>
    </div>
</div>
<div>
<button type="button" onclick="location.href='/board/list'">Back to List</button>
<button th:if="${not #strings.isEmpty(session?.member?.memberId)} and ${session.member.memberId}==${board.memberId}" type="button" th:onclick="'location.href=\'' + @{/board/update/{boardNo}(boardNo=${board.boardNo})} +'\';'">Update</button>
<button th:if="${not #strings.isEmpty(session?.member?.memberId)} and ${session.member.memberId}==${board.memberId}" type="button" th:onclick="'location.href=\'' + @{/board/delete/{boardNo}(boardNo=${board.boardNo})} +'\';'">Delete</button>
</div>
<div class="reply-container">
    <div id="reply-header">
        
    </div>
    <hr/>
    <div id="reply-body" >
    </div>
    <hr/>
    <div id="reply-footer">
        <div  th:if="${#strings.isEmpty(session?.member?.memberId)}" class="reply-footer-default">
            <label><a th:href="@{/auth/login}">Please login to reply.</a></label>
        </div>
        <div th:if="${not #strings.isEmpty(session?.member?.memberId)}" class="reply-footer-form">
            <form id="reply-form">
            
                <div class="reply-footer-form-elements">
                    <div class="reply-footer-form-contents">
                        <textarea id="reply-contents" placeholder="Input Reply contents"></textarea>
                    </div>
                    <button type="button" id="reply-form-submit">Join Reply</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
<script th:inline="javascript">

var baseApi  = "http://localhost:8090"
var replyApi = baseApi+"/reply"
var likeApi = baseApi+"/like"

/*<![CDATA[*/
var boardNo = /*[[ ${board.boardNo} ]]*/ "";
var memberId = /*[[ ${session?.member?.memberId} ]]*/ "";
/*]]*/


// validation check
function validation(method, targetContents, targetMemberId) {
	if (targetContents == "") {
		alert("Reply content is empty!!");
		return false;
	}
	if (boardNo == "") {
		alert("Board Number is empty!!");
		return false;
	}
	if (method == 'c') {
		if (memberId == "") {
			alert("Please Login");
			return false;
		}
	} else if (method == 'u' || method == 'd') {
		if (memberId == "" || memberId != targetMemberId) {
			alert("Please Login memberId : "+memberId+", targetMemberId : "+targetMemberId);
			return false;
		}
	}
	
	return true;
}


// create reply
$(document).on("click", '#reply-form-submit', function() {
	var contents = $("#reply-contents").val();
	
	if (!validation('c', contents, '')) {
		return;
	}
	
	var newReply = {
			"contents": contents,
			"boardNo" : parseInt(boardNo),
			"memberId": memberId
	}

	$.ajax({
		url: replyApi,
		method : 'POST',
		contentType : 'application/json; charset=UTF-8',
		data: JSON.stringify(newReply),
		success :  function(res){
			alert(JSON.stringify(res));
			clearReplyInput();
			viewReplies();
		},
	    error: function(xhr, textStatus, error){
	      console.log(xhr.statusText);
	      console.log(textStatus);
	      console.log(error);
	      alert(error)
	    }
	});
});


// clear reply
function clearReplyInput() {
	$("#reply-contents").val('');
}


// view replies
function viewReplies() {
	$.ajax({
		url: replyApi+'/list/'+boardNo,
		method : 'GET',
		dataType: 'json',
		success :  function(res){
			console.log(JSON.stringify(res.data))
			makeRepliesView(res.data);
		},
	    error: function(xhr, textStatus, error){
	      console.log(xhr.statusText);
	      console.log(textStatus);
	      console.log(error);
	    }
	});
}


function makeRepliesView(replies){
	$("#reply-body").empty();
	var view = '';
	
	replies.forEach(function (reply){
		view = view + '<hr/><div>';
		view = view + '<form>';
		view = view + '<div>Writer : <span id="reply-memberId_'+reply.replyNo+'" value='+reply.memberId+'>'+reply.memberId+'</span>';
		view = view + '<div class="like-box-reply">';
		view = view + '<label id="likeCount-reply-'+reply.replyNo+'">'+reply.likes+'</label> <a href="javascript:void(0);" onclick="doLikeReply('+reply.replyNo+')"><img class="likeImg-reply" src="/images/like.png" value="like"></a> &nbsp;&nbsp;';
		view = view + '<label id="dislikeCount-reply-'+reply.replyNo+'">'+reply.dislikes+'</label> <a href="javascript:void(0);" onclick="doDislikeReply('+reply.replyNo+')"><img class="likeImg-reply" src="/images/dislike.png" value="dislike"></a>';
		view = view + '</div></div>';
		view = view + '<div> Create Datetime : <span id="reply-createDate['+reply.replyNo+']">'+reply.createdTime+'</span></div>';
		
		if (reply.memberId == memberId) {
			view = view + '<div><textarea id="reply-contents_'+reply.replyNo+'" value='+reply.contents+' name="contents">'+reply.contents+'</textarea></div>';
			view = view + '<div><input type="hidden" name="memberId" value="'+reply.memberId+'"></div>';
			view = view + '<div><input type="hidden" name="replyNo" value="'+reply.replyNo+'"></div>';
			view = view + '<div><input type="button" class="reply-update" value="Reply Update" onclick="updateReply(this.form);">&nbsp';
			view = view + '<input type="button" class="reply-delete" value="Reply Delete" onclick="deleteReply(this.form);"></div>';
		} else {
			view = view + '<div><textarea id="reply-contents_'+reply.replyNo+'" readonly="readonly" value='+reply.contents+'>'+reply.contents+'</textarea></div>';
		}
		
		view = view + '</form>';
		view = view + '</div>';
	})
	
	console.log(view);
	$("#reply-body").html(view);
	
	var replyCountView = '';
	if (0 < replies.length) {
		replyCountView = '<p>Reply '+replies.length+'</p>';
	} else {
		replyCountView = '<p>Not Exist Reply</p>';
	}
	
	$("#reply-header").html(replyCountView);
	
	
}


// When page loading, it requests data of reply to API.
$(document).ready(function() {
	viewReplies();
	viewLikeAndDislikeCount("board");
});


// update reply
function updateReply(form) {
	
	var replyNo = form.no.value;
	var targetContents = form.contents.value;
	var targetMemberId = form.memberId.value;
	
	if (!validation('u', targetContents, targetMemberId)) {
		return;
	}
	
	var updateReply = {
			"replyNo" : parseInt(replyNo),
			"contents": targetContents,
			"boardNo" : parseInt(boardNo),
			"memberId": targetMemberId
	}
	
	console.log("Request data : "+JSON.stringify(updateReply))
	
	$.ajax({
		url: replyApi+'/'+replyNo,
		method : 'PUT',
		contentType : 'application/json; charset=UTF-8',
		data: JSON.stringify(updateReply),
		success :  function(res){
			alert(res.message+' Update Reply['+replyNo+']');
			viewReplies();
		},
	    error: function(xhr, textStatus, error){
	      console.log(xhr.statusText);
	      console.log(textStatus);
	      console.log(error);
	      alert(error)
	    }
	});
}


// delete reply
function deleteReply(form) {
	
	var checkFromUser = confirm('Do you really want to delete this Reply');
	
	if (checkFromUser == false) {
		return false;
	}
	
	var replyNo = form.no.value;
	var targetContents = form.contents.value;
	var targetMemberId = form.memberId.value;
	
	if (!validation('u', targetContents, targetMemberId)) {
		return;
	}
	
	console.log(replyApi+'/'+replyNo+'?boardNo='+boardNo+'&memberId='+memberId)
	
	$.ajax({
		url: replyApi+'/'+replyNo+'?boardNo='+boardNo+'&memberId='+memberId,
		method : 'DELETE',
		success :  function(res){
			alert(JSON.stringify(res.message+' Delete Reply'));
			viewReplies();
		},
	    error: function(xhr, textStatus, error){
	      console.log(xhr.statusText);
	      console.log(textStatus);
	      console.log(error);
	      alert(error)
	    }
	});
}


// view board like
function viewLikeAndDislikeCount(targetType) {
	var likeApiGet = "";
	if ( !memberId ) {
		likeApiGet = likeApi+'?targetType='+targetType+'&targetNo='+boardNo;
	} else {
		likeApiGet = likeApi+'?targetType='+targetType+'&targetNo='+boardNo+'&memberId='+memberId;
	}
	
	$.ajax({
		url: likeApiGet,
		method : 'GET',
		dataType: 'json',
		success :  function(res){
			console.log(JSON.stringify(res.data))
			makeLikeAndDislikeCountView(res.data);
		},
	    error: function(xhr, textStatus, error){
	      console.log(xhr.statusText);
	      console.log(textStatus);
	      console.log(error);
	    }
	});
}

function makeLikeAndDislikeCountView(data) {
	//alert(JSON.stringify(data))
	$("#likeCount").text(data.likeCount)
	$("#dislikeCount").text(data.dislikeCount)
}


//create or update board like
$(document).on("click", '.likeImg-board', function() {
	createOrUpdateLike($(this).attr('value'), 'board', parseInt(boardNo));
});

function createOrUpdateLike(status, type, typeNo) {
	
	var likeStatus = false
	if (status === 'like') {
		likeStatus = true;
		
	} else if (status === 'dislike') {
		likeStatus = false;
		
	} else {
		alert("function error");
		return;
	}
	
	if ( !memberId ) {
		alert("Please do login. like fuction can be used by login user only.");
		return;
	} 
	
	
	var likeObj = {
			"likeStatus" : likeStatus,
			"likeType": type,
			"typeNo" : typeNo,
			"memberId": memberId
	}
	
	console.log("createOrUpdateLike Request data : "+JSON.stringify(updateReply))
	
	$.ajax({
		url: likeApi,
		method : 'POST',
		contentType : 'application/json; charset=UTF-8',
		data: JSON.stringify(likeObj),
		success :  function(res){
			alert(res.message+' Update Like : ['+typeNo+']');
			if (type === 'board') {
				viewLikeAndDislikeCount(type);
			} else if (type === 'reply') {
				viewReplies();
			}
			
		},
	    error: function(xhr, textStatus, error){
	      console.log(xhr.statusText);
	      console.log(textStatus);
	      console.log(error);
	      alert(error)
	    }
	});
}


function doLikeReply(replyNo) {
	createOrUpdateLike('like', 'reply', parseInt(replyNo));
}


function doDislikeReply(replyNo) {
	createOrUpdateLike('dislike', 'reply', parseInt(replyNo));
}

</script>
</body>
</html>