<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
<title>Board Write</title>
<style type="text/css">
.board-read-container {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid;
    width: 700px;
}
.board-read-header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.board-read-body {
    padding: 10px 15px 10px;
    position: relative;
    border-right: 1px solid #ddd;
    height: 300px;
}
.btn {
    padding: 10px 10px 10px 20px;
}
</style>

</head>
<body>
<div class="board-read-container">
    <h2>Update Board</h2>
    <div>
    
    <form method="post" th:action=@{/board/update/}+${board.no}>
    <div class="board-read-header">
   
    <label> Type : </label>
	    <select name="type">
	         <option th:each="data : ${types}" th:value="${data.id}" th:selected="${data.id == board.type}" th:inline="text">[[${data.name}]]</option>
	    </select>
    <hr/>
    <label> Title : </label> <input type="text" name="title" th:value="${board.title}">
    
    </div>
    <hr/>
    <div class="board-read-body">
    <label>  Contents : </label><div></div>
    <textarea name="contents">[[${board.contents}]]</textarea>
    </div>
    <hr/>
    <div class="btn complete">
    <input type="submit" value="Update Complete">
    </div>
    </form>
    </div>
</div>
<div>
<button type="button" onclick="location.href='/board/list'">Back to List</button>
</div>
<div>
<button type="button" th:onclick="'location.href=\'' + @{/board/read/{no}(no=${board.no})} +'\';'">Back to [[${board.no}]]</button>
</div>

</body>
</html>